.Radio {
  /* padding: 12px 16px; */
  /* border: 2px solid #0c120c; */
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 500;
  background-color: transparent;
  border-radius: 5px;
}

.Radio input {
  margin-top: 8px;
  margin-right: 8px;
}
