.ModalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 640px;
}

.WorkingArea {
}

.ModalTitle {
  /* position: relative; */
  /* margin-left: 32px; */
  /* top: 32px; */
  font-family: Montserrat;
  font-weight: 800;
  font-size: 24px;
}

.Popup {
  position: fixed;
  padding: 32px;
  padding-bottom: 108px;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e8e8e8;
  /* height: 300px; */

  z-index: 10000;
}

.CloseIcon {
  stroke: #0c120c;
  stroke-width: 3px;
  height: 16px;
  width: 16px;
  stroke-linejoin: round;
  stroke-linecap: round;
  position: absolute;
  right: 32px;
  /* top: 32px; */
  overflow: visible;
  cursor: pointer;
}

.Disabled {
  color: #868686;
}

.CloseIcon line {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.CloseIcon:hover {
  stroke: #4f2efe;
}

.LeftModalButton {
  left: 32px;
  cursor: pointer;
  bottom: 24px;
}

.RightModalButton {
  right: 32px;
  cursor: pointer;
  bottom: 24px;
}

.ModalButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  position: absolute;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #4f2efe;
}

.Disabled {
  color: #868686;
}

.Overlay {
  height: 100vh;
  width: 100vw;
  /* visibility: hidden; */
  filter: blur(0) saturate(1);
  background-color: #130d33;
  opacity: 0.8;
  z-index: 1000;
}
