.Logo {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px !important;
  text-transform: none !important;
  color: #0d120d !important;
  padding-top: 0px !important;
}

.Name {
  margin-right: 0px !important;
}
