body {
  font-family: Montserrat;
  font-weight: 500;
}

.BehaviourCard {
  width: 144px;
  height: 100px;
  border: 2px solid #0c120c;
  border-radius: 10px;
  position: relative;
  padding: 8px;
  padding-top: 10px;
}

.BehaviourCard:hover {
  border-color: #4f2efe !important;
}

.BehaviorActions {
  color: #0c120c;
  font-size: 11px;
  margin: 0;
}

.BehaviourSources {
  color: #0c120c;
  position: absolute;
  right: 8px;
  top: 10px;
  font-size: 11px;
  margin: 0;
}

.BehaviourCardAppIcon {
  width: 12px;
  height: 12px;
  vertical-align: ceter;
  margin-right: 4px;
}

.BehaviourCardName {
  margin-top: 0;
  margin-bottom: 4px;
  position: absolute;
  margin-bottom: 10px;
}

.BehaviourBehaviours {
  font-size: 11px;
  margin: 0;
}

.BehaviourApp {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin: 0;
  margin-bottom: 8px;
  vertical-align: ceter;
}
